@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Jersey+15&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
  font-family: "Raleway", sans-serif;
  background-color: #326894;
  margin: 0px;
}

.container-lg{
  margin: 80px auto;
  width: 75%;
  background-color: #f5f5f5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.31);
}

ul{
  margin-left: 60px;
  list-style-type: "»";
}

li{
  padding-left: 5px;
}

table{
  min-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}


p{
  font-family: "Nunito Sans", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

h1 a, h1 a:hover, h1 a:visited{
  font-family: "Sedan", serif;
  font-size: 45pt;
  text-decoration: none;
  color: #326894;
  margin-bottom: 140px;
}

h1{
  text-align: center;
}

h2, h3, h4, h5, h6{
  text-align: left;
  padding-left: 40px;
  font-weight: bolder;
}

.highlighter-rouge{
  font-family: "Fira Mono", monospace;
  background: #0B173B;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 20px;
  min-width: 100vw;
}

.k, .kt, code{
  font-weight: bold;
  color: chartreuse;
}

.o, .n, .nt, .nl, .nn, .nb{
  color: #EEB100;
}

.na, .cp, .no{
  color: #FE2E64;
}

 .kc, .mi{
  font-weight: bold;
  color: #FE2E64;
}

.nc, .p{
  font-weight: bold;
  color: #AEEAE6;
}

.s, .nf, .s2, .dl, .kn{
  color: #31DBE0;
}

.c1, .c, .c2{
  color: #8A8A8A;
} 



